In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("Dataset/depression_dataset.csv")
# new_df = df.dropna() or:
df.dropna(inplace = True)
df.head()

,Gender,Age,Work Pressure,Job Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work Hours,Financial Stress,Family History of Mental Illness,Depression
0,Female,37,2.0,4.0,7-8 hours,Moderate,No,6,2,No,No
1,Male,60,4.0,3.0,5-6 hours,Unhealthy,Yes,0,4,Yes,No
2,Female,42,2.0,3.0,5-6 hours,Moderate,No,0,2,No,No
3,Female,44,3.0,5.0,7-8 hours,Healthy,Yes,1,2,Yes,No
4,Male,48,4.0,3.0,7-8 hours,Moderate,Yes,6,5,Yes,No

In [13]:
print(df['Age'].mean())

newdf = df['Age'].fillna(130)
newdf.head()

42.17185978578384

0    37
1    60
2    42
3    44
4    48
Name: Age, dtype: int64